@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvlAxejHC9qr6t1ZxClAe0id0kzluul_QEdQzYCH73uUK3NvBeclXnXbEtwl0PUx86jaE&usqp=CAU"/>   
<img src="https://i.pinimg.com/originals/59/aa/a2/59aaa2d7eb7de455b2f7c5b8a3b113fe.jpg" style="width:700px;">
</div>
